/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 头部样式 */
header {
    background-color: #333;
    color: #FFF;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #FFF;
    text-decoration: none;
}

/* 主内容样式 */
section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

/* 底部样式 */
footer {
    background-color: #333;
    color: #FFF;
    padding: 20px;
    text-align: center;
}